ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }


.TwatHeaderContainer {
    /* border: 1px solid white; */
    /* height: 500px; */
    overflow: hidden;
}

.HeaderBar{
    /* border: 1px solid red; */
    height: 50px;
    background-color: rgb(40, 39, 39);
    color: rgb(250, 250, 250);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}


.HeaderPictureContainer{
    /* border: 1px solid red; */
    width: 100vw;
    display: flex;
    /* flex-direction: column; */
    /* min-width: 1000px; */
    align-items: center;
    justify-items: center;
    height:400px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    position: relative;
}

.HeaderImage {
    /* width: 100%; */
    width: 100%;
    height: auto;
    /* aspect-ratio: auto; */
}

.centered {
  position: absolute;
  font-size:5vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}