.TwatHeaderContainer {
    border: 1px solid white;
    height: 500px;
    overflow: hidden;
}

.HeaderBar{
    /* border: 1px solid red; */
    height: 50px;
    background-color: white;
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.HeaderImage {
    /* width: 100%; */
    width: 100%;
    height: auto;
    /* aspect-ratio: auto; */
}