


.TwatContainer{
    /* border: 1px solid red; */
    width: 80%;
    min-width: 980px;
    background-color: rgb(39, 39, 39);
    color: white;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    line-break:normal;
    white-space: pre-line;
}

.TwatTitleBar{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5rem;
    height: 4rem;
    color: white;
    background-color: rgb(39, 39, 39);
}

@media (max-width: 1000px) {
    /* Styles to be applied when viewport width is 1000px or less */
    .TwatContainer {
        background-color: rgb(77, 76, 76);
        min-width: 0px;
      width: 98%
      
    }
  }


.columnContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.column{
  text-align: center;
}

.imageContainer img{
  display:block;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.column img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

  /*
  .TwatContainer:before {
    content:"";
    background-color:rgb(77, 76, 76);
    position: absolute;
    height: 50%;
    width: 4000px;
    left: -2000px;
    z-index: -1;
    
  }
  */