.AboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.HeaderPictureContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.HeaderImage {
  max-width: 100%;
  height: auto;
}

.BlurbContainer {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px; /* Add this line */
}

.AdminContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.AdminCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-left: 10px; /* Add this line */
}